{% extends 'homepage.html' %}
{% load static %}
{% block content %}

<h1><center>Login User</center></h1>

  <section>
    <div class="container mt-5 pt-5">
      <div class="row">
        <div class="card col-md-6 m-auto" style="width: 30rem; ">
        <div class="col-12 col-sm-8 col-md-6 m-auto">
          
            <div class="card-body">
            <svg class="col-12 col-sm-20 col-md-20 m-auto" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
              <form action="" method=POST>
                {% csrf_token %}
                <input type="text" name="username"  class="form-control my-4 py-2" placeholder="Username"/>
                <input type="password" name="password"  class="form-control my-4 py-2" placeholder="Password"/>
                <div class="text-center mt-3">
                <input type="submit" value="submit"class="btn btn-secondary">
                  <a href="{% url 'register_user' %}" class="nav-link">Already Have an Account ?</a>
                  
                </div>
              </form>



             </div>
          </div>   
        </div>       
     </div>
</div>
</section>
        


{% endblock content %}
