{% extends 'homepage.html' %}
{% load static %}
{% block content %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
      There was an error with your Registration...
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

</div>

{% endif %}

<h1>Register</h1>

<br/></br>



<form action="{% url 'register_user' %}" method=POST>
    {% csrf_token %}

    {{ form.as_p }}


      <input type="submit" value="submit" class= "btn btn-secondary">
   
    
</form>
       
    

        


{% endblock content %}
